**Task:** Predict whether a user will vote  on another user's posting

**Considered datasets:**
* Network of Users Who Vote on Postings (undirected) - df_edge_list_undirected_users_votes_to_postings_net
* Network on Posting Behaviour of Users (undirected) - df_edge_list_undirected_users_postings_to_same_articles
* Network of Users Who Reply to Postings (directed) - df_edge_list_directed_users_postings_replies

**Additional datasets:**
* df_Postings_filtered_net - Probably would need this as well since we can filter out posting by their date
* df_Votes_filtered_net

In [1]:
import os
import pandas as pd
from pathlib import Path

In [2]:
os.getcwd()

'/Users/viktoriiaovsianik/Documents/Uni/04_WS2024/05_SNA/02_Project/SNA/exploratory'

In [3]:
# Directory containing your Parquet files
relative_path_to_data = "../data/Additional Data"  # Relative to the current working directory
data_directory = os.path.abspath(relative_path_to_data)

# Path to the file to exclude
#exclude_file_path = '/home/e12217985/shared/194.050-2024W/Data/Group_Project/df_edge_list_undirected_users_click_similarity.parquet'

# Dictionary to store DataFrames with stem names as keys
dataframes = {}

# Iterate over all Parquet files in the directory
for file_path in Path(data_directory).glob("*.parquet"):

    # Extract the file stem (name without extension)
    file_stem = file_path.stem
    print(f"Reading file: {file_stem}")
    
    # Read the Parquet file into a DataFrame
    df = pd.read_parquet(file_path)
    
    # Optionally limit the size of the DataFrame
    #df = df[:20001]
    
    # Store the DataFrame in the dictionary with the stem as the key
    dataframes[file_stem] = df

# Access DataFrames by their file stem
print(dataframes.keys())  # Prints the stems of all loaded files

Reading file: df_ContentPages_filtered_net
Reading file: df_Clicks_net
Reading file: df_Postings_filtered_net
Reading file: df_User_Activeness
Reading file: df_Votes_filtered_net
Reading file: df_Content_DimContentDetails
Reading file: df_CommunityConnection_filtered_net
dict_keys(['df_ContentPages_filtered_net', 'df_Clicks_net', 'df_Postings_filtered_net', 'df_User_Activeness', 'df_Votes_filtered_net', 'df_Content_DimContentDetails', 'df_CommunityConnection_filtered_net'])

In [4]:
for stem, df in dataframes.items():
    print(f"Structure of DataFrame: {stem}")
    print(df.info())  # Print the structure of the DataFrame
    print("-" * 50)  # Separator for better readability

Structure of DataFrame: df_ContentPages_filtered_net
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58076 entries, 0 to 58075
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_GodotObject_c     58076 non-null  int64
 1   ObjectType_c         58076 non-null  object
 2   source_c             58076 non-null  object
 3   sourceCategory_c     58076 non-null  object
 4   Channel_c            58076 non-null  object
 5   Produkt_c            58076 non-null  object
 6   ChannelTopRessort_c  58076 non-null  object
 7   RessortName_c        58076 non-null  object
dtypes: int64(1), object(7)
memory usage: 3.5+ MB
None
--------------------------------------------------
Structure of DataFrame: df_Clicks_net
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27238923 entries, 0 to 27238922
Data columns (total 2 columns):
 #   Column                Dtype
---  ------                -----
 0   ID_GodotObject        int64
 1   ID_CommunityIdentity  int64
dtypes: int64(2)
memory usage: 415.6 MB
None
--------------------------------------------------
Structure of DataFrame: df_Postings_filtered_net
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200254 entries, 0 to 5200253
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   ID_Posting                    int64
 1   ID_Posting_Parent             float64
 2   ID_GodotObject                int64
 3   ID_CommunityIdentity          int64
 4   createdAt                     datetime64[ns]
 5   Comment_wo_controlchars_len   float64
 6   Headline_wo_controlchars_len  float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 277.7 MB
None
--------------------------------------------------
Structure of DataFrame: df_User_Activeness
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61257 entries, 0 to 61256
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   ID_CommunityIdentity                                       61257 non-null  int64
 1   Clicks_count_last_900_total_distinct_article_interactions  40205 non-null  float64
 2   Clicks_count_last_450_total_distinct_article_interactions  36974 non-null  float64
 3   Clicks_count_last_90_total_distinct_article_interactions   32584 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 1.9 MB
None
--------------------------------------------------
Structure of DataFrame: df_Votes_filtered_net
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15548772 entries, 0 to 15548771
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   ID_Posting            int64
 1   ID_CommunityIdentity  int64
 2   VoteNegative          bool
 3   VotePositive          bool
 4   CreatedAt             datetime64[ns]
 5   ID_GodotObject        int64
dtypes: bool(2), datetime64[ns](1), int64(3)
memory usage: 504.2 MB
None
--------------------------------------------------
Structure of DataFrame: df_Content_DimContentDetails
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300168 entries, 0 to 1300167
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ID_GodotObject_c     1300168 non-null  int64
 1   status_c             1300168 non-null  object
 2   source_c             1300168 non-null  object
 3   sourceCategory_c     1300168 non-null  object
 4   Channel_c            1300168 non-null  object
 5   Produkt_c            1300168 non-null  object
 6   ChannelTopRessort_c  1300168 non-null  object
 7   RessortName_c        1300168 non-null  object
dtypes: int64(1), object(7)
memory usage: 79.4+ MB
None
--------------------------------------------------
Structure of DataFrame: df_CommunityConnection_filtered_net
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24508 entries, 0 to 24507
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID_CommunityIdentity             24508 non-null  int64
 1   ID_CommunityIdentityConnectedTo  24508 non-null  int64
 2   ID_CommunityConnectionType       24508 non-null  int64
 3   CreatedAt                        24508 non-null  datetime64[ns]
 4   CommunityConnectionTypeName      24508 non-null  object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 957.5+ KB
None
--------------------------------------------------

In [27]:
dataframes["df_edge_list_undirected_users_votes_to_postings_net"]

,ID_CommunityIdentity_min,ID_CommunityIdentity_max,count_votes_to_postings_net
0,4,6293,1
1,4,8008,1
2,4,9525,1
3,4,18764,1
4,4,21088,1
...,...,...,...
5535632,630915,631271,1
5535633,631271,633552,2
5535634,631271,640065,3
5535635,631271,654951,1
5535636,640065,654951,1

In [20]:
df = dataframes["df_ContentPages_filtered_net"]

In [22]:
df[df["ID_GodotObject_c"]==2000050076866]

,ID_GodotObject_c,ObjectType_c,source_c,sourceCategory_c,Channel_c,Produkt_c,ChannelTopRessort_c,RessortName_c
99,2000050076866,Artikel,APA,Agentur,International,Redaktion,Europa,Türkei

In [38]:
dataframes["df_Votes_filtered_net"][dataframes["df_Votes_filtered_net"]["ID_CommunityIdentity"]==4]

,ID_Posting,ID_CommunityIdentity,VoteNegative,VotePositive,CreatedAt,ID_GodotObject
135028,1017635995,4,False,True,2017-01-10 12:19:46.670,2000050477942
135195,1017636146,4,False,True,2017-01-10 12:19:04.547,2000050477942
207288,1017735680,4,False,True,2017-01-14 09:38:27.730,2000050718272
294741,1017858923,4,False,True,2017-01-19 12:36:28.383,2000051120387
447090,1018075124,4,True,False,2017-01-27 17:37:37.550,2000051642864
1129046,1018966915,4,False,True,2017-03-04 18:51:00.840,2000053321268
1292455,1019164145,4,False,True,2017-03-12 22:23:30.210,2000054034839
1439193,1019343847,4,False,True,2017-03-19 21:02:35.913,2000054456463
1505400,1019420826,4,True,False,2017-03-23 11:58:35.443,2000054663983
1545748,1019484333,4,True,False,2017-03-25 15:54:35.993,2000054818495
1937572,1019945798,4,False,True,2017-04-14 16:22:06.160,2000055914222
2232335,1020322722,4,False,True,2017-04-30 11:29:37.517,2000056781772
2233459,1020323615,4,False,True,2017-04-30 11:28:00.503,2000056781772
2233508,1020323659,4,False,True,2017-04-30 11:27:39.080,2000056781772
2233920,1020324008,4,False,True,2017-04-30 11:28:09.590,2000056781772
2234054,1020324215,4,False,True,2017-04-30 11:25:51.827,2000056781772
2435755,1020591517,4,False,True,2017-05-11 14:46:08.973,2000056876790
2791246,1021100611,4,False,True,2017-06-01 12:51:12.133,2000058493142
2948996,1021310434,4,False,True,2017-06-08 10:12:29.210,2000058884990
2949023,1021310449,4,True,False,2017-06-08 10:12:10.807,2000058884990
2988365,1021363061,4,False,True,2017-06-10 00:22:50.387,2000059015779
2990900,1021365359,4,False,True,2017-06-10 00:29:37.977,2000059015779
3672168,1022198166,4,False,True,2017-07-12 16:45:15.487,2000061083481
3768769,1022325513,4,False,True,2017-07-18 13:31:21.733,2000061421476
3768796,1022325539,4,False,True,2017-07-18 13:30:56.440,2000061421476
3769313,1022326148,4,False,True,2017-07-18 13:30:29.297,2000061421476
3769854,1022326622,4,False,True,2017-07-18 13:28:51.353,2000061421476
3769932,1022326690,4,False,True,2017-07-18 13:28:17.393,2000061421476
4278045,1022971483,4,False,True,2017-08-10 23:15:31.027,2000062534848
4363551,1023069218,4,False,True,2017-08-15 15:57:39.660,2000062648840
4367282,1023072465,4,False,True,2017-08-15 15:53:15.670,2000062648840
4456684,1023175512,4,False,True,2017-08-19 15:47:56.127,2000062854966
4548957,1023273534,4,False,True,2017-08-22 22:49:26.907,2000062781164
5735761,1024902831,4,False,True,2017-10-15 20:19:15.783,2000066054063
7453612,1027128891,4,False,True,2018-01-05 00:25:31.223,2000071423989
7454773,1027131257,4,False,True,2018-01-05 00:24:09.200,2000071423989
7455607,1027134084,4,False,True,2018-01-05 00:26:48.867,2000071423989
9609623,1029859245,4,False,True,2018-04-06 23:27:19.070,2000077472268
9935974,1030255246,4,False,True,2018-04-22 08:39:45.490,2000078319908
10259614,1030615047,4,False,True,2018-05-06 08:05:10.713,2000079235026
10259762,1030615177,4,False,True,2018-05-06 08:04:33.597,2000079235026
10804850,1031269359,4,False,True,2018-05-29 17:08:24.023,2000080570911
11535276,1032281681,4,False,True,2018-06-28 16:30:38.233,2000082423993
11535610,1032282038,4,False,True,2018-06-28 16:30:19.373,2000082423993
11588270,1032353008,4,True,False,2018-07-01 00:52:24.847,2000082560213
11896610,1032722998,4,False,True,2018-07-12 23:17:08.880,2000083366350
11897029,1032723449,4,False,True,2018-07-12 23:14:48.757,2000083366350
11897247,1032723665,4,False,True,2018-07-12 23:13:44.777,2000083366350
12396001,1033287388,4,False,True,2018-08-02 21:02:26.203,2000084632993
12549299,1033446332,4,False,True,2018-08-08 23:08:57.277,2000085001222
14672565,1035720313,4,False,True,2018-10-28 14:27:01.480,2000089868925
14911525,1036031370,4,False,True,2018-11-07 07:32:33.637,2000090768304
14912356,1036033675,4,False,True,2018-11-07 07:31:56.280,2000090768304
15002153,1036134377,4,False,True,2018-11-11 01:26:14.313,2000091031374
15005240,1036137744,4,False,True,2018-11-11 01:26:08.090,2000091031374

In [37]:
dataframes["df_Postings_filtered_net"][dataframes["df_Postings_filtered_net"]["ID_CommunityIdentity"]==6293]

,ID_Posting,ID_Posting_Parent,ID_GodotObject,ID_CommunityIdentity,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len
1908,1017451583,1.017451e+09,2000050095741,6293,2017-01-01 19:32:48.530,93.0,0.0
2251,1017453613,1.017453e+09,2000050095741,6293,2017-01-01 21:32:22.107,203.0,0.0
2377,1017454341,1.017454e+09,2000050095741,6293,2017-01-01 22:14:12.653,362.0,0.0
2392,1017454405,1.017454e+09,2000050095741,6293,2017-01-01 22:18:02.360,346.0,0.0
3649,1017459594,NaN,2000050103376,6293,2017-01-02 10:29:34.313,593.0,25.0
...,...,...,...,...,...,...,...
5197876,1036750662,1.036701e+09,2000092698512,6293,2018-12-01 21:07:00.650,125.0,0.0
5197878,1036750733,1.036729e+09,2000092799728,6293,2018-12-01 21:10:03.723,52.0,0.0
5197885,1036750856,1.036749e+09,2000092802413,6293,2018-12-01 21:14:59.783,220.0,0.0
5197921,1036751728,1.036746e+09,2000092709822,6293,2018-12-01 21:52:55.270,83.0,0.0
5199003,1036784588,1.036771e+09,2000092802413,6293,2018-12-03 08:51:10.773,101.0,0.0

In [25]:
dataframes["df_CommunityConnection_filtered_net"]

,ID_CommunityIdentity,ID_CommunityIdentityConnectedTo,ID_CommunityConnectionType,CreatedAt,CommunityConnectionTypeName
0,254,116452,1,2016-12-08 14:59:08.030,Follower Connection (A follows B)
1,254,137950,1,2018-09-27 10:39:45.373,Follower Connection (A follows B)
2,254,530137,1,2018-12-30 00:56:52.403,Follower Connection (A follows B)
3,254,579004,1,2017-08-12 13:37:43.690,Follower Connection (A follows B)
4,625,115559,2,2015-08-11 19:43:44.590,Ignore Connection (A ignores B)
...,...,...,...,...,...
24503,640065,565297,1,2018-09-04 19:40:12.390,Follower Connection (A follows B)
24504,651625,589593,1,2018-07-02 07:35:12.433,Follower Connection (A follows B)
24505,654951,98423,1,2018-01-10 13:58:31.177,Follower Connection (A follows B)
24506,666356,283046,1,2018-03-13 13:01:50.357,Follower Connection (A follows B)
24507,666356,311744,1,2018-11-16 23:18:06.983,Follower Connection (A follows B)

In [14]:
df1[df['count_follow_connection']!=0].count()

ID_CommunityIdentity_Source    58
ID_CommunityIdentity_Target    58
count_posting_replies          58
count_votes_to_postings_net    58
count_follow_connection        58
weight_total                   58
dtype: int64

Create new graph for solving our task

In [39]:
postings = dataframes["df_Postings_filtered_net"]
votes = dataframes["df_Votes_filtered_net"]

In [40]:
postings.columns

Index(['ID_Posting', 'ID_Posting_Parent', 'ID_GodotObject',
       'ID_CommunityIdentity', 'createdAt', 'Comment_wo_controlchars_len',
       'Headline_wo_controlchars_len'],
      dtype='object')

In [48]:
postings.createdAt

0         2017-01-01 00:50:39.700
1         2017-01-01 01:01:10.533
2         2017-01-01 01:06:13.480
3         2017-01-01 01:08:14.700
4         2017-01-01 01:09:01.690
                    ...
5200249   2018-12-31 12:26:34.170
5200250   2018-12-31 13:32:57.720
5200251   2018-12-31 13:34:52.620
5200252   2018-12-31 13:37:37.790
5200253   2018-12-31 21:17:12.483
Name: createdAt, Length: 5200254, dtype: datetime64[ns]

In [50]:
postings_trunc = postings[(postings["createdAt"] >= "2017-04-01") & (postings["createdAt"] < "2017-05-01")]

In [53]:
postings_trunc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197684 entries, 627844 to 825527
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ID_Posting                    197684 non-null  int64
 1   ID_Posting_Parent             137614 non-null  float64
 2   ID_GodotObject                197684 non-null  int64
 3   ID_CommunityIdentity          197684 non-null  int64
 4   createdAt                     197684 non-null  datetime64[ns]
 5   Comment_wo_controlchars_len   197684 non-null  float64
 6   Headline_wo_controlchars_len  197684 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 12.1 MB

In [51]:
postings_trunc

,ID_Posting,ID_Posting_Parent,ID_GodotObject,ID_CommunityIdentity,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len
627844,1019634631,1.019634e+09,2000055186961,7412,2017-04-01 00:00:44.700,379.0,0.0
627845,1019634632,1.019624e+09,2000055154918,112629,2017-04-01 00:00:46.247,49.0,5.0
627846,1019634640,1.019633e+09,2000055148547,603984,2017-04-01 00:01:16.333,379.0,0.0
627847,1019634643,1.019631e+09,2000055138329,570009,2017-04-01 00:01:44.020,168.0,0.0
627848,1019634646,1.019634e+09,2000055221797,211665,2017-04-01 00:01:56.860,338.0,14.0
...,...,...,...,...,...,...,...
825523,1020340726,NaN,2000052531749,106520,2017-04-30 23:59:14.700,336.0,0.0
825524,1020340728,NaN,2000056748901,208696,2017-04-30 23:59:32.870,697.0,163.0
825525,1020340729,1.020339e+09,2000056778334,554200,2017-04-30 23:59:33.433,283.0,0.0
825526,1020340733,1.020339e+09,2000052531749,85820,2017-04-30 23:59:53.800,306.0,0.0
825527,1020340734,1.020340e+09,2000056767674,586068,2017-04-30 23:59:56.193,417.0,0.0

In [6]:
vote_timestamps = dataframes['df_Votes_filtered_net']
posting_timestamps = dataframes['df_Postings_filtered_net']

In [31]:
# Define the date range for filtering
start_date = '2017-11-01'
end_date = '2017-12-01'

#Filter the vote and posting timestamp data by date
def filter_by_date(df, date_column, start_date, end_date):
    df[date_column] = pd.to_datetime(df[date_column])  # Ensure datetime format
    return df[(df[date_column] >= start_date) & (df[date_column] <= end_date)]

# Filter the postings and votes dataframes
filtered_postings = filter_by_date(posting_timestamps, 'createdAt', start_date, end_date)
#filtered_votes = filter_by_date(vote_timestamps, 'CreatedAt', start_date, end_date)

In [32]:
posting_timestamps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200254 entries, 0 to 5200253
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   ID_Posting                    int64
 1   ID_Posting_Parent             float64
 2   ID_GodotObject                int64
 3   ID_CommunityIdentity          int64
 4   createdAt                     datetime64[ns]
 5   Comment_wo_controlchars_len   float64
 6   Headline_wo_controlchars_len  float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 277.7 MB

In [33]:
filtered_postings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228151 entries, 2174276 to 2402426
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ID_Posting                    228151 non-null  int64
 1   ID_Posting_Parent             161383 non-null  float64
 2   ID_GodotObject                228151 non-null  int64
 3   ID_CommunityIdentity          228151 non-null  int64
 4   createdAt                     228151 non-null  datetime64[ns]
 5   Comment_wo_controlchars_len   228151 non-null  float64
 6   Headline_wo_controlchars_len  228151 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 13.9 MB

In [35]:
vote_timestamps

,ID_Posting,ID_CommunityIdentity,VoteNegative,VotePositive,CreatedAt,ID_GodotObject
0,1017441133,6397,False,True,2017-01-01 01:34:05.550,2000050076866
1,1017441133,85518,False,True,2017-01-01 01:12:15.370,2000050076866
2,1017441133,97871,False,True,2017-01-01 01:35:57.820,2000050076866
3,1017441133,121556,False,True,2017-01-01 02:56:03.357,2000050076866
4,1017441133,131596,False,True,2017-01-01 01:46:53.420,2000050076866
...,...,...,...,...,...,...
15548767,1037363482,178389,False,True,2018-12-31 01:49:08.443,2000070922132
15548768,1037363482,506356,False,True,2018-12-25 12:31:01.640,2000070922132
15548769,1037363482,508660,False,True,2018-12-25 15:50:38.153,2000070922132
15548770,1037363482,543248,False,True,2018-12-25 15:22:21.470,2000070922132
15548771,1037408459,556697,False,True,2018-12-30 18:11:00.597,2000080711835

In [36]:
# Merge the datasets using 'ID_Posting' as the key
merged = pd.merge(filtered_postings, vote_timestamps, on='ID_Posting', how='inner')

In [37]:
merged

,ID_Posting,ID_Posting_Parent,ID_GodotObject_x,ID_CommunityIdentity_x,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len,ID_CommunityIdentity_y,VoteNegative,VotePositive,CreatedAt,ID_GodotObject_y
0,1025403036,1.025403e+09,2000066983185,500716,2017-11-01 00:00:05.450,0.0,40.0,130491,False,True,2017-11-01 07:11:08.897,2000066983185
1,1025403042,1.025400e+09,2000066961708,182847,2017-11-01 00:00:18.153,156.0,0.0,518913,False,True,2017-11-01 01:30:57.863,2000066961708
2,1025403057,1.025401e+09,2000066970183,26392,2017-11-01 00:01:40.330,88.0,0.0,237828,False,True,2017-11-01 10:45:57.493,2000066970183
3,1025403057,1.025401e+09,2000066970183,26392,2017-11-01 00:01:40.330,88.0,0.0,604838,False,True,2017-11-01 11:05:38.400,2000066970183
4,1025403060,1.025403e+09,2000066983185,500716,2017-11-01 00:02:04.370,0.0,31.0,182097,True,False,2017-11-01 01:09:45.347,2000066983185
...,...,...,...,...,...,...,...,...,...,...,...,...
654736,1026250016,1.026250e+09,2000068825056,31581,2017-11-30 23:59:08.187,32.0,0.0,39477,False,True,2017-12-01 00:07:08.580,2000068825056
654737,1026250016,1.026250e+09,2000068825056,31581,2017-11-30 23:59:08.187,32.0,0.0,500196,True,False,2017-12-01 00:08:48.867,2000068825056
654738,1026250027,NaN,2000068793919,108805,2017-11-30 23:59:55.890,209.0,0.0,75367,True,False,2017-12-01 08:25:19.403,2000068793919
654739,1026250027,NaN,2000068793919,108805,2017-11-30 23:59:55.890,209.0,0.0,196353,True,False,2017-12-01 05:57:05.900,2000068793919
654740,1026250027,NaN,2000068793919,108805,2017-11-30 23:59:55.890,209.0,0.0,584592,True,False,2017-12-01 01:43:15.510,2000068793919

In [27]:
vote_timestamps[vote_timestamps["ID_Posting"]==1025403057]

,ID_Posting,ID_CommunityIdentity,VoteNegative,VotePositive,CreatedAt,ID_GodotObject
6115085,1025403057,237828,False,True,2017-11-01 10:45:57.493,2000066970183
6115086,1025403057,604838,False,True,2017-11-01 11:05:38.400,2000066970183

In [39]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654741 entries, 0 to 654740
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ID_Posting                    654741 non-null  int64
 1   ID_Posting_Parent             268572 non-null  float64
 2   ID_GodotObject_x              654741 non-null  int64
 3   ID_CommunityIdentity_x        654741 non-null  int64
 4   createdAt                     654741 non-null  datetime64[ns]
 5   Comment_wo_controlchars_len   654741 non-null  float64
 6   Headline_wo_controlchars_len  654741 non-null  float64
 7   ID_CommunityIdentity_y        654741 non-null  int64
 8   VoteNegative                  654741 non-null  bool
 9   VotePositive                  654741 non-null  bool
 10  CreatedAt                     654741 non-null  datetime64[ns]
 11  ID_GodotObject_y              654741 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(3), int64(5)
memory usage: 51.2 MB

In [40]:
merged.columns

Index(['ID_Posting', 'ID_Posting_Parent', 'ID_GodotObject_x',
       'ID_CommunityIdentity_x', 'createdAt', 'Comment_wo_controlchars_len',
       'Headline_wo_controlchars_len', 'ID_CommunityIdentity_y',
       'VoteNegative', 'VotePositive', 'CreatedAt', 'ID_GodotObject_y'],
      dtype='object')

In [42]:
for_graph = merged[["ID_Posting", "ID_CommunityIdentity_x", "ID_CommunityIdentity_y"]]

In [44]:
for_graph.columns

Index(['ID_Posting', 'ID_CommunityIdentity_x', 'ID_CommunityIdentity_y'], dtype='object')

In [45]:
# Group by the pairs and count their occurrences
pair_counts = merged.groupby(['ID_CommunityIdentity_x', 'ID_CommunityIdentity_y']).size().reset_index(name='count')

# Display the resulting DataFrame
pair_counts

        ID_CommunityIdentity_x  ID_CommunityIdentity_y  count
0                            4                   21088      1
1                            4                  567668      1
2                            4                  568936      1
3                           30                   14446      1
4                           30                   55887      1
...                        ...                     ...    ...
543022                  640065                  602673      1
543023                  640065                  604651      1
543024                  640065                  605829      2
543025                  640065                  605947      1
543026                  640065                  607098      1

[543027 rows x 3 columns]

In [47]:
pair_counts["count"].unique()

array([ 1,  2,  3,  4,  5,  7, 10,  8,  6,  9, 24, 11, 20, 27, 12, 42, 19,
       15, 18, 13, 16, 66, 17, 30, 14, 37, 22, 26, 23, 21, 39, 59, 29, 45,
       35, 28, 63, 25, 33, 32, 41, 53, 40, 47, 34, 96, 38, 51, 36, 54, 31,
       77, 50, 76, 46])

In [50]:
pair_counts[pair_counts["count"]==96]

        ID_CommunityIdentity_x  ID_CommunityIdentity_y  count
348419                  516017                  572366     96

In [54]:
merged[
    (merged["ID_CommunityIdentity_x"] == 516017) & 
    (merged["ID_CommunityIdentity_y"] == 572366)
]

,ID_Posting,ID_Posting_Parent,ID_GodotObject_x,ID_CommunityIdentity_x,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len,ID_CommunityIdentity_y,VoteNegative,VotePositive,CreatedAt,ID_GodotObject_y
485,1025403883,1.025404e+09,2000066961708,516017,2017-11-01 01:56:46.740,698.0,83.0,572366,False,True,2017-11-01 18:45:59.993,2000066961708
692,1025404216,1.025404e+09,2000066961708,516017,2017-11-01 03:36:09.933,722.0,106.0,572366,False,True,2017-11-01 18:45:53.667,2000066961708
717,1025404275,1.025404e+09,2000066961708,516017,2017-11-01 03:59:46.543,647.0,0.0,572366,False,True,2017-11-01 18:45:32.470,2000066961708
9280,1025414857,NaN,2000067001198,516017,2017-11-01 15:15:43.237,99.0,0.0,572366,False,True,2017-11-01 15:32:01.420,2000067001198
10007,1025415603,NaN,2000067001198,516017,2017-11-01 15:55:24.637,201.0,0.0,572366,False,True,2017-11-01 17:17:08.850,2000067001198
...,...,...,...,...,...,...,...,...,...,...,...,...
643492,1026234680,NaN,2000068797511,516017,2017-11-30 14:17:33.030,721.0,0.0,572366,False,True,2017-11-30 14:58:52.070,2000068797511
645352,1026236609,1.026233e+09,2000068797511,516017,2017-11-30 15:22:59.750,11.0,0.0,572366,False,True,2017-11-30 16:09:54.653,2000068797511
646365,1026237865,NaN,2000068797511,516017,2017-11-30 16:01:23.230,369.0,0.0,572366,False,True,2017-11-30 16:02:27.553,2000068797511
649068,1026241252,1.026241e+09,2000068797511,516017,2017-11-30 17:51:05.907,426.0,0.0,572366,False,True,2017-12-01 00:07:31.427,2000068797511
650305,1026242658,1.026241e+09,2000068797511,516017,2017-11-30 18:46:23.153,724.0,0.0,572366,False,True,2017-12-01 00:07:04.343,2000068797511

In [55]:
pair_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543027 entries, 0 to 543026
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID_CommunityIdentity_x  543027 non-null  int64
 1   ID_CommunityIdentity_y  543027 non-null  int64
 2   count                   543027 non-null  int64
dtypes: int64(3)
memory usage: 12.4 MB

In [67]:
pair_counts

        ID_CommunityIdentity_x  ID_CommunityIdentity_y  count
0                            4                   21088      1
1                            4                  567668      1
2                            4                  568936      1
3                           30                   14446      1
4                           30                   55887      1
...                        ...                     ...    ...
543022                  640065                  602673      1
543023                  640065                  604651      1
543024                  640065                  605829      2
543025                  640065                  605947      1
543026                  640065                  607098      1

[543027 rows x 3 columns]

In [65]:
# 1. Convert the directed votes dataset into a graph
import networkx as nx

G = nx.from_pandas_edgelist(
    pair_counts,  # Replace with your DataFrame variable
    source="ID_CommunityIdentity_x",
    target="ID_CommunityIdentity_y",
    edge_attr="count",  # Optional: edge weights
    create_using=nx.Graph()  # Ensure a non directed graph
)

In [72]:
G

In [71]:
# Visualize the subgraph with basic layout
from matplotlib import pyplot as plt
plt.figure(figsize=(10, 8))
pos = nx.spring_layout(G)
nx.draw(
    G,
    pos,
    with_labels=False,
    node_size=50,
    edge_color='gray',
    alpha=0.7
)
plt.title("Directed Graph Visualization")
plt.show()

KeyboardInterrupt:

In [73]:
#check number of nodes
G.number_of_nodes()

10964

In [74]:
G.number_of_edges()

529434