**Task:** Predict whether a user will vote  on another user's posting

**Considered datasets:**
* Network of Users Who Vote on Postings (undirected) - df_edge_list_undirected_users_votes_to_postings_net
* Network on Posting Behaviour of Users (undirected) - df_edge_list_undirected_users_postings_to_same_articles
* Network of Users Who Reply to Postings (directed) - df_edge_list_directed_users_postings_replies

**Additional datasets:**
* df_Postings_filtered_net - Probably would need this as well since we can filter out posting by their date
* df_Votes_filtered_net

In [1]:
import os
import pandas as pd
from pathlib import Path

In [32]:
os.getcwd()

'/Users/viktoriiaovsianik/Documents/Uni/04_WS2024/05_SNA/02_Project/SNA/exploratory'

In [33]:
# Directory containing your Parquet files
relative_path_to_data = "../data/Additional Data"  # Relative to the current working directory
data_directory = os.path.abspath(relative_path_to_data)

# Path to the file to exclude
#exclude_file_path = '/home/e12217985/shared/194.050-2024W/Data/Group_Project/df_edge_list_undirected_users_click_similarity.parquet'

# Dictionary to store DataFrames with stem names as keys
dataframes = {}

# Iterate over all Parquet files in the directory
for file_path in Path(data_directory).glob("*.parquet"):

    # Extract the file stem (name without extension)
    file_stem = file_path.stem
    print(f"Reading file: {file_stem}")
    
    # Read the Parquet file into a DataFrame
    df = pd.read_parquet(file_path)
    
    # Optionally limit the size of the DataFrame
    #df = df[:20001]
    
    # Store the DataFrame in the dictionary with the stem as the key
    dataframes[file_stem] = df

# Access DataFrames by their file stem
print(dataframes.keys())  # Prints the stems of all loaded files

Reading file: df_ContentPages_filtered_net
Reading file: df_Clicks_net
Reading file: df_Postings_filtered_net
Reading file: df_User_Activeness
Reading file: df_Votes_filtered_net
Reading file: df_Content_DimContentDetails
Reading file: df_CommunityConnection_filtered_net
dict_keys(['df_ContentPages_filtered_net', 'df_Clicks_net', 'df_Postings_filtered_net', 'df_User_Activeness', 'df_Votes_filtered_net', 'df_Content_DimContentDetails', 'df_CommunityConnection_filtered_net'])

In [30]:
for stem, df in dataframes.items():
    print(f"Structure of DataFrame: {stem}")
    print(df.info())  # Print the structure of the DataFrame
    print("-" * 50)  # Separator for better readability

In [27]:
dataframes["df_edge_list_undirected_users_votes_to_postings_net"]

,ID_CommunityIdentity_min,ID_CommunityIdentity_max,count_votes_to_postings_net
0,4,6293,1
1,4,8008,1
2,4,9525,1
3,4,18764,1
4,4,21088,1
...,...,...,...
5535632,630915,631271,1
5535633,631271,633552,2
5535634,631271,640065,3
5535635,631271,654951,1
5535636,640065,654951,1

In [20]:
df = dataframes["df_ContentPages_filtered_net"]

In [22]:
df[df["ID_GodotObject_c"]==2000050076866]

,ID_GodotObject_c,ObjectType_c,source_c,sourceCategory_c,Channel_c,Produkt_c,ChannelTopRessort_c,RessortName_c
99,2000050076866,Artikel,APA,Agentur,International,Redaktion,Europa,TÃ¼rkei

In [38]:
dataframes["df_Votes_filtered_net"][dataframes["df_Votes_filtered_net"]["ID_CommunityIdentity"]==4]

,ID_Posting,ID_CommunityIdentity,VoteNegative,VotePositive,CreatedAt,ID_GodotObject
135028,1017635995,4,False,True,2017-01-10 12:19:46.670,2000050477942
135195,1017636146,4,False,True,2017-01-10 12:19:04.547,2000050477942
207288,1017735680,4,False,True,2017-01-14 09:38:27.730,2000050718272
294741,1017858923,4,False,True,2017-01-19 12:36:28.383,2000051120387
447090,1018075124,4,True,False,2017-01-27 17:37:37.550,2000051642864
1129046,1018966915,4,False,True,2017-03-04 18:51:00.840,2000053321268
1292455,1019164145,4,False,True,2017-03-12 22:23:30.210,2000054034839
1439193,1019343847,4,False,True,2017-03-19 21:02:35.913,2000054456463
1505400,1019420826,4,True,False,2017-03-23 11:58:35.443,2000054663983
1545748,1019484333,4,True,False,2017-03-25 15:54:35.993,2000054818495
1937572,1019945798,4,False,True,2017-04-14 16:22:06.160,2000055914222
2232335,1020322722,4,False,True,2017-04-30 11:29:37.517,2000056781772
2233459,1020323615,4,False,True,2017-04-30 11:28:00.503,2000056781772
2233508,1020323659,4,False,True,2017-04-30 11:27:39.080,2000056781772
2233920,1020324008,4,False,True,2017-04-30 11:28:09.590,2000056781772
2234054,1020324215,4,False,True,2017-04-30 11:25:51.827,2000056781772
2435755,1020591517,4,False,True,2017-05-11 14:46:08.973,2000056876790
2791246,1021100611,4,False,True,2017-06-01 12:51:12.133,2000058493142
2948996,1021310434,4,False,True,2017-06-08 10:12:29.210,2000058884990
2949023,1021310449,4,True,False,2017-06-08 10:12:10.807,2000058884990
2988365,1021363061,4,False,True,2017-06-10 00:22:50.387,2000059015779
2990900,1021365359,4,False,True,2017-06-10 00:29:37.977,2000059015779
3672168,1022198166,4,False,True,2017-07-12 16:45:15.487,2000061083481
3768769,1022325513,4,False,True,2017-07-18 13:31:21.733,2000061421476
3768796,1022325539,4,False,True,2017-07-18 13:30:56.440,2000061421476
3769313,1022326148,4,False,True,2017-07-18 13:30:29.297,2000061421476
3769854,1022326622,4,False,True,2017-07-18 13:28:51.353,2000061421476
3769932,1022326690,4,False,True,2017-07-18 13:28:17.393,2000061421476
4278045,1022971483,4,False,True,2017-08-10 23:15:31.027,2000062534848
4363551,1023069218,4,False,True,2017-08-15 15:57:39.660,2000062648840
4367282,1023072465,4,False,True,2017-08-15 15:53:15.670,2000062648840
4456684,1023175512,4,False,True,2017-08-19 15:47:56.127,2000062854966
4548957,1023273534,4,False,True,2017-08-22 22:49:26.907,2000062781164
5735761,1024902831,4,False,True,2017-10-15 20:19:15.783,2000066054063
7453612,1027128891,4,False,True,2018-01-05 00:25:31.223,2000071423989
7454773,1027131257,4,False,True,2018-01-05 00:24:09.200,2000071423989
7455607,1027134084,4,False,True,2018-01-05 00:26:48.867,2000071423989
9609623,1029859245,4,False,True,2018-04-06 23:27:19.070,2000077472268
9935974,1030255246,4,False,True,2018-04-22 08:39:45.490,2000078319908
10259614,1030615047,4,False,True,2018-05-06 08:05:10.713,2000079235026
10259762,1030615177,4,False,True,2018-05-06 08:04:33.597,2000079235026
10804850,1031269359,4,False,True,2018-05-29 17:08:24.023,2000080570911
11535276,1032281681,4,False,True,2018-06-28 16:30:38.233,2000082423993
11535610,1032282038,4,False,True,2018-06-28 16:30:19.373,2000082423993
11588270,1032353008,4,True,False,2018-07-01 00:52:24.847,2000082560213
11896610,1032722998,4,False,True,2018-07-12 23:17:08.880,2000083366350
11897029,1032723449,4,False,True,2018-07-12 23:14:48.757,2000083366350
11897247,1032723665,4,False,True,2018-07-12 23:13:44.777,2000083366350
12396001,1033287388,4,False,True,2018-08-02 21:02:26.203,2000084632993
12549299,1033446332,4,False,True,2018-08-08 23:08:57.277,2000085001222
14672565,1035720313,4,False,True,2018-10-28 14:27:01.480,2000089868925
14911525,1036031370,4,False,True,2018-11-07 07:32:33.637,2000090768304
14912356,1036033675,4,False,True,2018-11-07 07:31:56.280,2000090768304
15002153,1036134377,4,False,True,2018-11-11 01:26:14.313,2000091031374
15005240,1036137744,4,False,True,2018-11-11 01:26:08.090,2000091031374

In [37]:
dataframes["df_Postings_filtered_net"][dataframes["df_Postings_filtered_net"]["ID_CommunityIdentity"]==6293]

,ID_Posting,ID_Posting_Parent,ID_GodotObject,ID_CommunityIdentity,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len
1908,1017451583,1.017451e+09,2000050095741,6293,2017-01-01 19:32:48.530,93.0,0.0
2251,1017453613,1.017453e+09,2000050095741,6293,2017-01-01 21:32:22.107,203.0,0.0
2377,1017454341,1.017454e+09,2000050095741,6293,2017-01-01 22:14:12.653,362.0,0.0
2392,1017454405,1.017454e+09,2000050095741,6293,2017-01-01 22:18:02.360,346.0,0.0
3649,1017459594,NaN,2000050103376,6293,2017-01-02 10:29:34.313,593.0,25.0
...,...,...,...,...,...,...,...
5197876,1036750662,1.036701e+09,2000092698512,6293,2018-12-01 21:07:00.650,125.0,0.0
5197878,1036750733,1.036729e+09,2000092799728,6293,2018-12-01 21:10:03.723,52.0,0.0
5197885,1036750856,1.036749e+09,2000092802413,6293,2018-12-01 21:14:59.783,220.0,0.0
5197921,1036751728,1.036746e+09,2000092709822,6293,2018-12-01 21:52:55.270,83.0,0.0
5199003,1036784588,1.036771e+09,2000092802413,6293,2018-12-03 08:51:10.773,101.0,0.0

In [25]:
dataframes["df_CommunityConnection_filtered_net"]

,ID_CommunityIdentity,ID_CommunityIdentityConnectedTo,ID_CommunityConnectionType,CreatedAt,CommunityConnectionTypeName
0,254,116452,1,2016-12-08 14:59:08.030,Follower Connection (A follows B)
1,254,137950,1,2018-09-27 10:39:45.373,Follower Connection (A follows B)
2,254,530137,1,2018-12-30 00:56:52.403,Follower Connection (A follows B)
3,254,579004,1,2017-08-12 13:37:43.690,Follower Connection (A follows B)
4,625,115559,2,2015-08-11 19:43:44.590,Ignore Connection (A ignores B)
...,...,...,...,...,...
24503,640065,565297,1,2018-09-04 19:40:12.390,Follower Connection (A follows B)
24504,651625,589593,1,2018-07-02 07:35:12.433,Follower Connection (A follows B)
24505,654951,98423,1,2018-01-10 13:58:31.177,Follower Connection (A follows B)
24506,666356,283046,1,2018-03-13 13:01:50.357,Follower Connection (A follows B)
24507,666356,311744,1,2018-11-16 23:18:06.983,Follower Connection (A follows B)

In [14]:
df1[df['count_follow_connection']!=0].count()

ID_CommunityIdentity_Source    58
ID_CommunityIdentity_Target    58
count_posting_replies          58
count_votes_to_postings_net    58
count_follow_connection        58
weight_total                   58
dtype: int64

Create new graph for solving our task

In [39]:
postings = dataframes["df_Postings_filtered_net"]
votes = dataframes["df_Votes_filtered_net"]

In [40]:
postings.columns

Index(['ID_Posting', 'ID_Posting_Parent', 'ID_GodotObject',
       'ID_CommunityIdentity', 'createdAt', 'Comment_wo_controlchars_len',
       'Headline_wo_controlchars_len'],
      dtype='object')

In [48]:
postings.createdAt

0         2017-01-01 00:50:39.700
1         2017-01-01 01:01:10.533
2         2017-01-01 01:06:13.480
3         2017-01-01 01:08:14.700
4         2017-01-01 01:09:01.690
                    ...
5200249   2018-12-31 12:26:34.170
5200250   2018-12-31 13:32:57.720
5200251   2018-12-31 13:34:52.620
5200252   2018-12-31 13:37:37.790
5200253   2018-12-31 21:17:12.483
Name: createdAt, Length: 5200254, dtype: datetime64[ns]

In [50]:
postings_trunc = postings[(postings["createdAt"] >= "2017-04-01") & (postings["createdAt"] < "2017-05-01")]

In [53]:
postings_trunc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197684 entries, 627844 to 825527
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ID_Posting                    197684 non-null  int64
 1   ID_Posting_Parent             137614 non-null  float64
 2   ID_GodotObject                197684 non-null  int64
 3   ID_CommunityIdentity          197684 non-null  int64
 4   createdAt                     197684 non-null  datetime64[ns]
 5   Comment_wo_controlchars_len   197684 non-null  float64
 6   Headline_wo_controlchars_len  197684 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 12.1 MB

In [51]:
postings_trunc

,ID_Posting,ID_Posting_Parent,ID_GodotObject,ID_CommunityIdentity,createdAt,Comment_wo_controlchars_len,Headline_wo_controlchars_len
627844,1019634631,1.019634e+09,2000055186961,7412,2017-04-01 00:00:44.700,379.0,0.0
627845,1019634632,1.019624e+09,2000055154918,112629,2017-04-01 00:00:46.247,49.0,5.0
627846,1019634640,1.019633e+09,2000055148547,603984,2017-04-01 00:01:16.333,379.0,0.0
627847,1019634643,1.019631e+09,2000055138329,570009,2017-04-01 00:01:44.020,168.0,0.0
627848,1019634646,1.019634e+09,2000055221797,211665,2017-04-01 00:01:56.860,338.0,14.0
...,...,...,...,...,...,...,...
825523,1020340726,NaN,2000052531749,106520,2017-04-30 23:59:14.700,336.0,0.0
825524,1020340728,NaN,2000056748901,208696,2017-04-30 23:59:32.870,697.0,163.0
825525,1020340729,1.020339e+09,2000056778334,554200,2017-04-30 23:59:33.433,283.0,0.0
825526,1020340733,1.020339e+09,2000052531749,85820,2017-04-30 23:59:53.800,306.0,0.0
825527,1020340734,1.020340e+09,2000056767674,586068,2017-04-30 23:59:56.193,417.0,0.0

In [44]:
votes.columns

Index(['ID_Posting', 'ID_CommunityIdentity', 'VoteNegative', 'VotePositive',
       'CreatedAt', 'ID_GodotObject'],
      dtype='object')

In [46]:
votes.CreatedAt.min()

Timestamp('2017-01-01 01:05:45.240000')